:root {
  --bg-light:#e6e6e6;
  /*****/
  }

body {
   font-family: 'Poppins', sans-serif;
}
.bg-light {
  background-color: var(--bg-light);
}
.custom-table tbody td,
.custom-table thead th {
  padding: 1rem 1rem;
}
.custom-table tbody tr {
  border-bottom: 1px solid var(--bg-light);
}
.breadcrumbs li a:before {
  content: '\00AB';
  position: absolute;
  right: -10px;
}
.sidebar {
  min-width: 4rem;
}
.sidebar ul li:hover .sidebar-icon {
  opacity: 0.8;
}
.sidebar ul li.active {
  background-color: rgb(96 66 149 / 20%);
}
.stack-chart {
  height: 480px;
}